.footer {
  padding: 51px 0 50px 0;
  text-align: center;
  &__container {
    align-items: center;
  }
  &__social-media {
    margin-bottom: 26px ;
  }
  &__social-media__link {
    margin-left: 20px;
  }
  &__copyrights {
    display: block;
  }
}
